---
import { Image, getImage } from 'astro:assets'

import EntryMeta from '@/components/EntryMeta.astro'
import Heading from '@/components/Heading.astro'
import eyecatch from '@/images/blog/entry/eyecatch.jpg'
import photo01 from '@/images/blog/entry/photo-01.jpg'
import photo02 from '@/images/blog/entry/photo-02.jpg'
import illustQuote from '@/images/common/illust-quote.svg'
import Layout from '@/layouts/Lower.astro'

const quote = await getImage({ src: illustQuote })

const meta = {
  date: '28 July 2023',
  category: 'Wedding',
}
---

<Layout title="Gift ideas for the bride & groom on the wedding day">
  <div class="container max-w-(--breakpoint-md)">
    <Heading level={1}>
      <Fragment slot="heading">Blog</Fragment>
      <span slot="copy" class="uppercase">
        Gift ideas for the bride & groom on the wedding day
      </span>
    </Heading>
    <EntryMeta meta={meta} class="mt-9" data-fade-in="toTop" />
    <Image src={eyecatch} alt="" class="mt-3.5 w-full" data-fade-in="toTop" />
    <main class="mt-11 space-y-[1lh] font-light text-gray-800">
      <p>
        Lorem ipsum dolor sit amet consectetur. Velit aliquet massa turpis
        aliquam consequat. Massa amet elementum vestibulum enim. Vel fermentum
        congue at in habitant libero neque. Dignissim id non pellentesque risus
        dapibus commodo gravida.
      </p>
      <p>
        Vehicula viverra ornare ultrices amet. Neque non id at dignissim
        hendrerit iaculis purus vitae risus. Et enim ullamcorper aliquet odio
        fusce. Id diam imperdiet mattis nascetur eget turpis. Sed suspendisse
        risus arcu tincidunt id est diam mauris elementum. Et mi commodo diam
        eget lorem platea tellus euismod.
      </p>
      <blockquote
        class="before:bg-primary-dark w-4/5 text-[1.7rem] before:mb-2 before:block before:size-4 before:mask-(--quote-svg) before:mask-contain before:mask-no-repeat"
        style={`--quote-svg: url(${quote.src})`}>
        A blog post related quotation here Lorem ipsum dolor sit amet
        consectetur. Velit aliquet massa turpis aliquam consequat.
      </blockquote>
      <div
        class="grid grid-cols-[repeat(auto-fit,minmax(min(220px,100%),1fr))] gap-8">
        {
          [photo01, photo02].map((photo) => (
            <Image src={photo} alt="" class="w-full" />
          ))
        }
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur. Velit aliquet massa turpis
        aliquam consequat. Massa amet elementum vestibulum enim. Vel fermentum
        congue at in habitant libero neque. Dignissim id non pellentesque risus
        dapibus commodo gravida.
      </p>
    </main>
  </div>
  <div class="container mt-20 max-w-(--breakpoint-lg)">
    <div class="grid grid-cols-2 border-t border-gray-300 pt-2 text-gray-600">
      <a href="/blog" class="col-start-1 justify-self-start">← Go Back</a>
      <a href="/portfolio" class="-col-end-1 justify-self-end">View Gallery →</a
      >
    </div>
  </div>
</Layout>
