---
import type { HTMLAttributes, HTMLTag } from 'astro/types'
import { twMerge } from 'tailwind-merge'

export type Props = HTMLAttributes<'hgroup'> & {
  level?: 1 | 2 | 3 | 4 | 5 | 6
}

const { level = 2, class: className = '' } = Astro.props
const HeadingElement = `h${level}` as HTMLTag
---

<hgroup class={twMerge('grid text-center gap-y-1.5', className)}>
  <HeadingElement
    class="font-raleway text-primary tracking-[0.2em] uppercase"
    data-fade-in="toTop">
    <slot name="heading" />
  </HeadingElement>
  <p
    class="text-[2.2rem]/tight tracking-wider text-gray-600 capitalize delay-200"
    data-fade-in="toTop">
    <slot name="copy" />
  </p>
</hgroup>
